@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting colors in light mode (default) */
:root {
  --background: 255, 255, 255; /* White */
  --foreground: 23, 23, 23; /* Black */
}

/* Dark mode color settings */
.dark {
  --background: 10, 10, 10; /* Black */
  --foreground: 237, 237, 237; /* Greyish white */
}

/* Apply dynamic colors */
body {
  @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))] font-sans;
}