@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración de colores en modo claro (por defecto) */
:root {
  --background: 255, 255, 255; /* Blanco */
  --foreground: 23, 23, 23; /* Negro oscuro */
}

/* Configuración de colores en modo oscuro */
.dark {
  --background: 10, 10, 10; /* Negro */
  --foreground: 237, 237, 237; /* Blanco grisáceo */
}

/* Aplicar colores dinámicos */
body {
  @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))] font-sans;
}